# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Secrets & Environment Variables (SUPER SECURE)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
*.env
*.pem
*.key
*.cert
*.crt
*_rsa
*_rsa.pub
*.keystore
*.jks
.npmrc

# Vercel & Deployment
.vercel
*.log

# Editor & IDE Directories
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts

# User specified ignores
docs/experience.md
docs/detail proyek 1.md
docs/detail proyek 2.md
docs/detail proyek 3.md
docs/detail proyek 4.md
docs/detail proyek 5.md